  .search {
    position: relative;
  }

  .search input[type="text"] {
    width: 600px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .search button[type="submit"] {
    background-color: #0d6efd;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.9s ease;
  }
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #479ee5;
  }
/* From Uiverse.io by Cevorob */ 
.burger {
  position: relative;
  width: 30px; /* Adjusted width */
  height: 20px; /* Adjusted height */
  background: transparent;
  cursor: pointer;
  display: block;
}
.burger input{
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px; /* Adjusted height of the spans */
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 1px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 97%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 4px; /* Adjusted for smaller size */
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px; /* Adjusted for smaller size */
  left: 4px; /* Adjusted for smaller size */
}
  /* OWN_CSS */
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: none;
  z-index: 1000;
}
body {
  overflow-x: hidden;
}
.box-shadow-own{
box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
transition: 0.6s;
}
.box-shadow-own:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.17);
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* Hide the preloader by default */
body.loaded #preloader {
  display: none;
}
#search_list{
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 9999;
}
.font-own{
  font-style: italic;
}
.h_400{
  height: 400px;
}
.w_800{
  width: 800px;
}
.my-6{
  margin-top: 100px;
  margin-bottom: 100px;
}
.btn_no_border{
  border: 0;
}
.bg-teal{
  background-color: #29d29f;
  color: #fff;
  transition: 0.5s;
}
.bg-teal:hover{
  background-color: #265849;
  color: #fff;
}
.bg_img_p1{
  background-image: url('../img/banner/product1.jpg');
}.bg_img_p2{
  background-image: url('../img/banner/product2.jpg');
}
.bg_img_p3{
  background-image: url('../img/banner/product3.jpg');
}
.card_product{
  transition: 0.6s;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.card_product img{
  transition: 0.5s;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.card_product:hover{
  border: 1px solid black;
}
  /* Responsive Design */
  @media (max-width: 750px) {
    .search input[type="text"] {
      width: 500px;
    }
  }
  @media (max-width: 600px) {
    .search input[type="text"] {
      width: 360px;
    }
  }
  @media (max-width: 500px) {
    .slider_icon{
      display: none;
    }
    .search input[type="text"] {
      width: 310px;
    }
  }
  @media (max-width: 400px) {
    .search input[type="text"] {
      width: 290px;
    }
  }