#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 1000;
}
body {
    overflow-x: hidden; /* Hide horizontal overflow */
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* Hide the preloader by default */
body.loaded #preloader {
    display: none;
}
  