#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 1000;
}
body {
    overflow-x: hidden; /* Hide horizontal overflow */
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* Hide the preloader by default */
body.loaded #preloader {
    display: none;
}
   .search {
    position: relative;
  }

  .search input[type="text"] {
    width: 600px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.9s ease;
  }

  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: blue;
  }

  /* Responsive Design */
  @media (max-width: 650px) {
    .search input[type="text"] {
      width: 320px;
    }
  }